

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Circe-Regular'; /* Гарнитура шрифта */
  src: url( "../fonts/Circe-Regular.otf" ); /* Путь к файлу со шрифтом */
}

@font-face {
   font-family: 'Circe-Bold'; /* Гарнитура шрифта */
   src: url( "../fonts/Circe-Bold.otf" ); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'Circe-ExtraBold'; /* Гарнитура шрифта */
   src: url( "../fonts/Circe-ExtraBold.otf" ); /* Путь к файлу со шрифтом */
  }


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'Circe-Regular', 'Arial', sans-serif;
  color: #3a3e48;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
  font-family: 'Circe-Bold', 'Arial', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.cols {
  margin: 1em auto;
  box-sizing: border-box;
}

.cols.col-1,
.cols.col-2,
.cols.col-3,
.cols.col-4,
.cols.col-5,
.cols.col-6,
.cols.col-7,
.cols.col-8,
.cols.col-9,
.cols.col-10,
.cols.col-11,
.cols.col-12 {
  width: 100%;
}

.color-text {
  color: #fc0808;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header,
footer {
  background-color: #f1f1f1;
}

.main-header .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header .logo-box h1,
.main-header .logo-box p {
  font-size: 0;
}

.logo-box {
  display: flex;
  flex-direction: column;
}

.logo-box a:nth-child(2) {
  display: block;
  max-width: 178px;
  margin: auto;
}

.orders-box {
  margin: 1em auto;
}

.orders-box a {
  display: block;
  margin: 1em auto;
}

.icons-box {
  display: none;
}

.bottom-header {
  padding: 1.5em 0;
  background: url('../img/ms_bg-main.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.bottom-header p {
  display: block;
  width: 95%;
  margin: 1em auto;
  text-align: center;
  font-family: 'Circe-ExtraBold', 'Arial', serif;
  font-size: 1.5em;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.shop-section {
  background-color: #f1f1f1;
  padding: 1em 0;
}

.shop-section aside {
  width: 240px;
  padding: 0 40px;
  box-sizing: border-box;
}

.shop-section li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #c8cdd3;
}

.shop-section li a,
.cards-container .breadcrumbs a {
  display: block;
  width: 100%;
  padding: 12px 0;
  color: #709504;
  border-bottom: 1px solid #ffffff;
}

.cards-box {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.cards-container .breadcrumbs {
  width: 100%;
  border-bottom: 1px solid #c8cdd3;
}

.cards-container .breadcrumbs a {
  text-transform: uppercase;
  font-family: 'Circe-ExtraBold', 'Arial', serif;
  color: #3a3e48;
}

.cards {
  display: block;
  width: 240px;
  height: 360px;
  margin: 1em auto;
  padding: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.cards figure {
  margin: 14px 8px;
}

.cards h5 {
  display: block;
  width: 100%;
  margin: 44px auto;
  text-transform: uppercase;
  font-family: 'Circe-Regular', 'Arial', sans-serif;
  font-size: 13px;
}

.cards .quant {
  margin: 0 16px;
  text-align: center;
  font-size: 13px;
  color: #7d7e80;
  border-bottom: 1px dotted #7d7e80;
}

.cards__order-box a {
  display: inline-block;
  vertical-align: baseline;
  width: 85px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  background: linear-gradient(0deg, #7e9c00, #9cb500);
  box-shadow: inset 0 1px 1px 1px #acc400;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  border: 1px solid #6c8800;
  border-radius: 3px;
}

.cards__order-box a:hover {
  border: 1px solid #7e9c00;
  background: linear-gradient(180deg, #7e9c00, #9cb500);
}

.main-map {
  padding: 3em 0 4em 0;
  background: url('../img/ms_bg-map1.jpg') no-repeat 60% 50%;
  background-size: cover;
}

.main-map .text-box {
  width: 100%;
  max-width: 380px;
  padding: 0.5em;
  color: #ffffff;
  background: rgba(252, 8, 8, 0.8);
  box-sizing: border-box;
}

.main-map .text-box p {
  margin: 0.5em 0;
}

.main-advantages {
  padding: 1em 0;
  background-color: #f1f1f1;
}

.main-advantages_title {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Circe-Bold', 'Arial', serif;
}

.main-advantages_list {
  background: url('../img/ms_bg-screen.png') no-repeat 50% 50%;
  background-size: contain;
}

.main-advantages_list figure {
  display: flex;
  flex-direction: row;
}

.main-advantages_list figure h3 {
  font-size: 1.2em;
  font-family: 'Circe-Regular', 'Arial', sans-serif;
}

.main-advantages_list figure h3 .color-text {
  display: block;
  font-size: 1.8em;
}

.main-advantages_list ul {
  display: flex;
  flex-direction: column;
}

.main-advantages_list li {
  display: flex;
  flex-direction: row;
  flex-grow: grow;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  padding-left: 2em;
  box-sizing: border-box;
}

.main-advantages_list li .list_number {
  margin-right: 0.5em;
  font-size: 2em;
  color: #fc0808;
}

.main-examples h3 {
  display: block;
  text-align: center;
  font-size: 1.2em;
}

.main-examples .slider {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-height: 350px;
  margin: 1.5em auto;
}

.main-examples .slider .arrow {
  position: absolute;
  top: 35%;
  display: block;
  width: 10px;
  height: 80px;
  font-size: 0;
}

.main-examples .slider .arrow::after,
.main-examples .slider .arrow::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 40px;
  background: #fc0808;
  transform: rotate(10deg);
  content: '';
  border-radius: 2px;
}

.main-examples .slider .arrow::before {
  top: 38px;
  transform: rotate(-10deg);
}

.main-examples .slider .arrow.next {
  right: -10px;
  transform: rotate(-180deg);
}

.main-examples .slider .arrow.prev {
  left: -10px;
}

.main-examples .slide {
  position: relative;
}

.main-examples .slide figure {
  margin: 0;
}

.main-examples .slide .layer-bottom {
  width: 100%;
}

.main-examples .slide .layer-top {
  position: absolute;
  top: 1em;
  left: 75px;
  display: block;
  width: 70%;
}

.main-examples .slide .layer-bottom a,
.main-examples .slide .layer-top a {
  display: block;
  width: 100%;
  max-width: 270px;
  border-radius: 3px;
}

.main-examples .slide .layer-bottom a {
  width: 70%;
  margin-left: 0;
}

.slide .slide_adress {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
  color: #fc0808;
}

.slide .slide_btn {
  position: absolute;
  right: 0;
  display: flex;
  width: 270px;
  flex-direction: row;
  align-items: center;
}

.slide .slide_adress .top-line,
.slide .slide_btn .top-line {
  float: left;
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fc0808;
}

.slide .slide_btn .top-line {
  margin-right: 0.5em ;
}

.main-examples .layer-top .slide_text {
  display: block;
  text-align: right;
}

.main-examples .slide .slide_btn a,
.cloud-form__submit {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  max-width: 220px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  background: linear-gradient(0deg, #fe2222, #e30101);
  box-shadow: inset 0 1px 1px 1px #ff8d8d;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  border: 1px solid #ba0000;
  border-radius: 3px;
}

.main-examples .slide .slide_btn a:hover,
.cloud-form__submit:hover {
  cursor: pointer;
  border: 1px solid #e30101;
  background: linear-gradient(180deg, #fe2222, #e30101);
}

.main-order {
  padding: 1em 0;
  background: url('../img/ms_bg-order.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.main-form {
  display: block;
  width: 100%;
  max-width: 445px;
  margin: auto;
  padding: 10px 33px;
  border: 6px solid #fc0808;
  background-color: #ffffff;
  box-sizing: border-box;
}

.main-form h3 {
  text-align: center;
  font-size: 1.1em;
}

.main-form input {
  display: block;
  width: 100%;
  margin: 0.5em auto;
  padding: 16px;
  font-size: 16px;
  font-family: 'Circe-Regular', 'Arial',sans-serif;
  color: #000000;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.main-form .cloud-form__сonsent {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}

.cloud-form__submit {
  display: block;
  max-width: none;
  text-transform: none;
  font-size: 1.2em;
  padding: 0.5em;
}

.main-form input.cloud-form__сonsent {
  width: 18%;
}

.main-form label.cloud-form__сonsent {
  width: 78%;
  font-size: 0.7em;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 720px;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  .main-header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .orders-box {
    margin: auto;
  }

  .logo-box {
    display: flex;
    flex-direction: row;
  }

  .icons-box {
    display: block;
  }

  .icons-box a {
    display: block;
    margin: 0.2em auto;
  }

  .bottom-header p {
    font-size: 2.95em;
  }

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  .shop-section aside {
    width: 200px;
    padding: 0 40px 0 0 ;
    box-sizing: border-box;
  }

  .shop-section .container {
    display: flex;
  }

  .cards-container {
    width: calc(100% - 200px);
  }

  .cards-box {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-map {
    padding: 0;
  }

  .main-map .text-box {
    max-width: 380px;
    padding: 70px 1em;
    box-sizing: border-box;
    text-align: center;
  }

  .main-map .text-box_title {
    font-size: 2em;
  }

  .slide .slide_adress {
    position: absolute;
    left: 45%;
    flex-direction: row;
    width: 50%;
    margin-right: 0;
  }

  .slide .slide_adress .top-line {
    width: 120px;
  }

  .main-examples .slide .layer-top {
    width: 90%;
    top: 3em;
  }

  .main-examples .layer-top .slide_text {
    text-align: center;
  }

  .main-examples .slide .layer-top a {
    float: left;
    margin-right: 1em;
  }

  .slide_description {
    display: block;
    width: 100%;
    margin-bottom: 2em;
    font-size: 1.1em;
  }

  .slide .slide_btn {
    right: 15px;
    bottom: 0;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 960px;
  }


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/


  .main-map .text-box {
    max-width: 360px;
    padding: 100px 1em;
  }

  .main-map .text-box_title {
    margin: 0 1em 2em 1em;
  }

  .main-advantages_title {
    display: block;
    margin: auto;
    font-size: 40px;
  }

  .main-advantages_list figure {
    display: flex;
    flex-direction: row;
    max-width: 585px;
    margin: auto;
    margin-right: 12%;
    text-align: center;
  }

  .main-advantages_list figure h3 {
    font-size: 1.4em;
  }

  .main-advantages_list figure h3 .color-text {
    font-size: 60px;
  }

  .list-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }

  .list-rows ul {
    max-width: 380px;
  }

  .main-advantages {
    padding-bottom: 0;
  }

  .main-advantages_list {
    padding-bottom: 1.5em;
    background: url('../img/ms_bg-screen.png') no-repeat 50% -10%;
  }

  .main-advantages_list li .list_number {
    font-size: 3em;
  }

  .main-examples h3 {
    font-size: 40px;
    margin: 1.5em;
  }

  .main-examples .slider .arrow.prev {
    left: -30px;
  }

  .main-examples .slider .arrow.next {
    right: -30px;
  }

  .main-examples .slide .layer-top {
    left: 145px;
    width: 80%;
  }

  .main-examples .layer-top .slide_text {
    margin-left: 135px;
    text-align: left;
  }

  .main-examples .slide .layer-top a {
    margin-right: 40px;
  }

  .slide .slide_adress {
    left: 35%;
    width: 60%;
    margin-top: 0;
    font-size: 27px;
  }

  .slide .slide_adress .top-line {
    width: 170px;
  }

  .slide .slide_btn {
    right: -270px;
    width: 100%;
  }

  .main-examples .slide .slide_btn a {
    padding: 15px;
    font-size: 17px;
  }

  .slide .slide_btn .top-line {
    margin-left: 0.5em;
    width: 20px;
  }

  .main-form {
    margin: 1em 0;
    margin-left: 45%;
  }

  .main-form h3 {
    font-size: 1.8em;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  .main-form input {
    margin: 0.7em auto;
  }

  .main-form label.cloud-form__сonsent {
    margin-top: 1.2em;
    margin-bottom: 1em;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1366px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}
